<div class="container-fluid">
	<div class="row">
    <div class="col-md-12">
    	<form action="/admin/save" method="post" class="form-horizontal">
	        <div class="card">
	            <div class="card-header">
	                Category
	            </div>
	            <div class="card-block">
	            	<div class="form-group row col-md-6">
						<label class="col-md-4 form-control-label" for="CategoryCode">Category Code</label>
						<div class="col-md-8">
							<input type="text" id="CategoryCode" name="CategoryCode" class="form-control" 
							placeholder="Enter Category Code">
						</div>
					</div>
					<div class="form-group row col-md-6">
						<label class="col-md-4 form-control-label" for="Categoryname">Category Name</label>
						<div class="col-md-8">
							<input type="text" id="Categoryname" name="Categoryname" class="form-control" 
							placeholder="Enter Category Name">
						</div>
					</div>
					<div class="form-group row col-md-6">
						<label class="col-md-4 form-control-label" for="Title">Title</label>
						<div class="col-md-8">
							<input type="text" id="Title" name="Title" class="form-control" 
							placeholder="Enter Title">
						</div>
					</div>
					<div class="form-group row col-md-6">
						<label class="col-md-4 form-control-label" for="CategoryParent">Category</label>
						<div class="col-md-8">
							<input type="text" id="CategoryParent" name="CategoryParent" class="form-control" 
							placeholder="Enter Parent">
						</div>
					</div>
	            </div>
	            <div class="card-footer">
	                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
	                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
	            </div>
        </form>
    </div>
</div>
<!-- /.conainer-fluid -->